<div>
    <div id="addMenuGroup">
        <!-- Remember to add menu group btn -->
    </div>
   <input type="text" ng-model="restaurantMenu.newMenuGroup.menuGroupTitle" /></th>
    <button class="button is-primary" ng-click="restaurantMenu.addMenuGroup(restaurantMenu.newMenuGroup, restaurantMenu.restaurantId)">Add Menu Group<i class="icon fa fa-plus"></i></button></th>
    <div class="panel-block">
        <div ng-repeat='menuGroup in restaurantMenu.menu'>
            <!-- Make sure that the H1 tag with menu group title is centered and clearly visible -->
            <div class="is-right">
            <button class="button is-danger" ng-click="restaurantMenu.deleteMenuGroup(menuGroup)">Delete Menu Group</button>
            </div>
            <h1 class="header menu-group-header">{{menuGroup.menuGroupTitle}}</h1>
            <table class="table menu-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='item in menuGroup.menuItems'>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.price | currency}}</td>
                        <td>
                            <button class="button delete-menu-item-btn" ng-click="restaurantMenu.deleteMenuItem(item)">Delete Item<i class="icons fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" ng-model="menuGroup.newMenuItem.name" />
                        </td>
                        <td>
                            <input type="text" ng-model="menuGroup.newMenuItem.description" />
                        </td>
                        <td>
                            <input type="text" ng-model="menuGroup.newMenuItem.price" />
                        </td>
                        <td>
                            <button class="button add-menu-item-btn" ng-click="restaurantMenu.addMenuItem(menuGroup.newMenuItem, menuGroup.menuGroupId)">Add Item <i class="icons fa fa-plus"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
