<form ng-submit="login.loginRestaurant(login.loginInfo)">
	<p class="control has-icon">
		<!-- <label>Email</label> -->
		<input type="email" placeholder="Enter your Email" ng-model="login.loginInfo.email">
		<i class="fa fa-envelope"></i>
	</p>
	<p class="control has-icon">
		<!-- <label>Password</label> -->
		<input type="password" placeholder="Enter your Password" ng-model="login.loginInfo.password">
		<i class="fa fa-lock"></i>
	</p>
	<p class="control">
		<button type="submit" class="button is-success">Login</button>
	</p>
</form>